<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.baptcv2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Ship"></activity>
        <activity android:name=".CropList" />
        <activity android:name=".Sales" />
        <activity android:name=".Prices" />
        <activity android:name=".HomeDashboard" />
        <activity android:name=".Profile" />
        <activity android:name=".ForgotpasswordSuccessMessage" />
        <activity android:name=".SetNewPassword" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".VerifyOTP" />
        <activity android:name=".SignUp4th" />
        <activity android:name=".SignUp3rd" />
        <activity android:name=".SignUp2nd" />
        <activity android:name=".SignUp" />
        <activity android:name=".Login" />
        <activity android:name=".StartUpScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>